@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	border: 1px solid #e7e7e7;
	background-color: #333333;
	overflow: hidden;
	font-family: "Open Sans";
}

li {
	float: left;
}

li a {
	color: #ffffff;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #000000;
}
li a.active{
	background-color: #0000aa;
}
