ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	color: #666;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #e2e2e2;
}
li a.active{
	background-color: #33ff33;
}
